<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/ratingController.js"></script>
<script src="js/app/ratingService.js"></script>
</head>
<body ng-app="rating" ng-controller="ratingController">
 
<h2>Add Hotel's Rating</h2>
<div class="container" >
<form >
  Hotel Id  :<br>
  <input type="number" ng-model="hotelDto.hotelId" placeholder=" Hotel Id ">
  <br><br>
  Hotel Name  :<br>
  <input type="text" ng-model="hotelDto.hotelName" placeholder=" Hotel Name ">
  <br><br>
  
    User Id   :<br>
  <input type="number" ng-model="hotelDto.userId" placeholder=" User Id">
  <br><br>
  User Name  :<br>
  <input type="text" ng-model="hotelDto.userName" placeholder="  User Name ">
  <br><br>
   Rating  :<br>
  <input type="number" ng-model="hotelDto.rating" placeholder=" rating ">
  <br>
  
  
  <input type="button" ng-click="saveHotel()" value=" Add  Rating ">
</form> 

 </div> 
    <hr/>
    <div class="row">
    <h3>All Hotels with rating</h3>
    <ul >
    <li ng-repeat="hotelInfo in allHotels">  <p>{{hotelInfo}}</p></li><br>
    </ul>
       
    </div>
    <hr/>
</body>
</html>